[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
pytest = "*"
jinja2 = "*"
pillow = "*"
python-multipart = "*"
matplotlib = "*"
numpy = "==2.0.2"
captcha = "*"
httpx = "*"
"google.cloud" = "*"

[dev-packages]

[requires]
python_version = "3.9"
